/*
#FFD700 -gold
#6B8E23 -green
#800080 -purple
#B8860B -darker gold
#9932CC - a bit lighter purple
#006400 - dark green
*/
body{
	padding:0;
	margin:0;
	background-color:#FFCC00;
}

#container{
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
	margin:auto;
	background-color: #800080;
}

#content{
	margin: 0 auto;
}


.nav{
	border: 2px solid #006400;
	width:100px;
	height:50px;
	margin: 0 auto;
	background-color: #6B8E23;
	color:#FFD700;
}

#buttons{
	float: right;

}
#navbar{
	color:#FFD700;
}

#buttons, h3{
	display: inline-block;
	vertical-align: top;
}

.fly-in-text{
	list-style: none;
	position: absolute;
	left:50%;
	top:20%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.fly-in-text li{
	display:inline-block;
	margin-right: 50px;
	color:#800080;
	font-size:17px;
	opacity: 1;
	font-weight:bold;
	transition: all 2.5s ease;
}

.fly-in-text2{
	list-style: none;
	position: absolute;
	left:50%;
	top:25%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.fly-in-text2 li{
	display:inline-block;
	margin-right: 50px;
	color:#800080;
	font-size:17px;
	font-weight:bold;
	opacity: 1;
	transition: all 2.5s ease;
}

.fly-in-text3{
	list-style: none;
	position: absolute;
	left:50%;
	top:30%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.fly-in-text3 li{
	display:inline-block;
	margin-right: 50px;
	color:#800080;
	font-size:17px;
	font-weight:bold;
	opacity: 1;
	transition: all 2.5s ease;
}



.fly-in-text li:last-child, .fly-in-text2 li:last-child, .fly-in-text3 li:last-child {
	margin-right: 0px;
}

 .fly-in-text.hidden li, .fly-in-text2.hidden li, .fly-in-text3.hidden li{
	opacity: 0;
}

.fly-in-text.hidden li:nth-child(1){
	transform: translateX(300px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(2){
	transform: translateX(-400px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(3){
	transform: translateX(20px) translateY(-100px);
}
.fly-in-text.hidden li:nth-child(4){
	transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(5){
	transform: translateX(-500px) translateY(-50px);
}
.fly-in-text.hidden li:nth-child(6){
	transform: translateX(300px) translateY(-220px);
}
.fly-in-text.hidden li:nth-child(7){
	transform: translateX(-200px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(8){
	transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(9){
	transform: translateX(200px) translateY(200px);
}

.fly-in-text2.hidden li:nth-child(1){
	transform: translateX(100px) translateY(100px);
}
.fly-in-text2.hidden li:nth-child(2){
	transform: translateX(-400px) translateY(-200px);
}
.fly-in-text3.hidden li:nth-child(1){
	transform: translateX(300px) translateY(100px);
}
.fly-in-text3.hidden li:nth-child(2){
	transform: translateX(-400px) translateY(-200px);
}
.fly-in-text3.hidden li:nth-child(3){
	transform: translateX(20px) translateY(-100px);
}
.fly-in-text3.hidden li:nth-child(4){
	transform: translateX(-300px) translateY(200px);
}
.fly-in-text3.hidden li:nth-child(5){
	transform: translateX(-500px) translateY(-50px);
}
.fly-in-text3.hidden li:nth-child(6){
	transform: translateX(300px) translateY(-220px);
}














/*#info{
	text-align: center;
	padding-bottom: 10px;
}

#left, #right, #middle{
	display: inline-block;
	vertical-align: top;
	color:white;
	position:relative;
	width:200px;
	padding-top: 150px;
	padding-bottom: 150px;
	font-size: 20px;
	background-color: red;
	text-align: center;
	animation: myframesright 5s ease-in 2s forwards 1;
}


h1{
	background-color: blue;
	display:inline-block;
	animation: textdisappear 1s ease-in 2s forwards 1;

}










@keyframes myframesright{
	0%{
		background-color: red;
	}
	100%{
		opacity:0;
		width:0;
		height:0px;

	}
}

@keyframes textdisappear{
	0%{
		background-color: blue;
		text-align: center;
	}
	50%{
		opacity: 0;
	
	}
	100%{
		opacity:0;
		width:0px;
	}
}
*/
