body{
	padding:0;
	margin:0;
	background-color: black;
}

#container{
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
	margin:auto;
	background-color: black;
}

#content{
	margin: 0 auto;
}


.nav{
	background-color:blue
	border: 2px solid white;
	width:100px;
	height:50px;
	margin: 0 auto;
}

#buttons{
	float: right;
}
#navbar{
	color:white;
}

#buttons, h3{
	display: inline-block;
	vertical-align: top;
}

#fly-in-text{
	list-style: none;
	position: absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

#fly-in-text li{
	display:inline-block;
	margin-right: 50px;
	color:white;
	font-size:17px;
	opacity: 1;
	transition: all 2.5s ease;
}

#fly-in-text li:last-child{
	margin-right: 0px;
}

.logo li{
	opacity: 0;
	visibility: hidden;
}

.logo li:nth-child(1){
	transform: translateX(300px) translateY(100px);
}
.logo li:nth-child(2){
	transform: translateX(-400px) translateY(-200px);
}
.logo li:nth-child(3){
	transform: translateX(20px) translateY(-100px);
}
.logo li:nth-child(4){
	transform: translateX(-300px) translateY(200px);
}
.logo li:nth-child(5){
	transform: translateX(-500px) translateY(-50px);
}
.logo li:nth-child(6){
	transform: translateX(300px) translateY(-220px);
}
.logo li:nth-child(7){
	transform: translateX(-200px) translateY(100px);
}
.logo li:nth-child(8){
	transform: translateX(-200px) translateY(-200px);
}
.logo li:nth-child(9){
	transform: translateX(200px) translateY(200px);
}















/*#info{
	text-align: center;
	padding-bottom: 10px;
}

#left, #right, #middle{
	display: inline-block;
	vertical-align: top;
	color:white;
	position:relative;
	width:200px;
	padding-top: 150px;
	padding-bottom: 150px;
	font-size: 20px;
	background-color: red;
	text-align: center;
	animation: myframesright 5s ease-in 2s forwards 1;
}


h1{
	background-color: blue;
	display:inline-block;
	animation: textdisappear 1s ease-in 2s forwards 1;

}










@keyframes myframesright{
	0%{
		background-color: red;
	}
	100%{
		opacity:0;
		width:0;
		height:0px;

	}
}

@keyframes textdisappear{
	0%{
		background-color: blue;
		text-align: center;
	}
	50%{
		opacity: 0;
	
	}
	100%{
		opacity:0;
		width:0px;
	}
}
*/
